<!DOCTYPE html>
<html>
    <head>
        <!-- Head Content -->
    </head>
    <body>
        <!-- Navigation bar -->
        {{> navbar}}

        <!-- Main content -->
        <div class="container">
            {{{body}}}
        </div>
    </body>
</html>